# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Scrapy stuff:
.scrapy

# dotenv
.env

# virtualenv
venv/
ENV/

# PyCharm project settings
.idea

# Web
*.html

# Other
foo.py